@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --poppins-bold-72: Poppins;

  /* font sizes */
  --font-size-12xl-9: 31.9px;
  --poppins-medium-16-size: 16px;
  --poppins-semibold-36-size: 36px;
  --poppins-semibold-18-size: 18px;
  --poppins-medium-14-size: 14px;
  --poppins-semibold-32-size: 32px;
  --poppins-semibold-24-size: 24px;
  --poppins-regular-52-size: 52px;
  --poppins-bold-72-size: 72px;
  --poppins-bold-56-size: 56px;

  /* Colors */
  --grayscale-white: #fff;
  --grayscale-black: #000;
  --grayscale-70: #141414;
  --grayscale-30: #3c3c3c;
  --grayscale-50: #333;
  --color-gainsboro: #d9d9d9;
  --primary-blue-100: #2c3878;
  --grayscale-10: #9c9c9c;

  /* Paddings */
  --padding-sm: 14px;
  --padding-13xl: 32px;
}
